$main-background-color: #FFF;

$base-font-family: "Open Sans", "Helvetica", sans-serif;

// Font colors
$heading-color: #002c30; // #025057;
$alt-heading-color: #00b7c9;
$subheading-color: #cacfcf;
$primary-description-color: #4d6c6f;
$secondary-description-color: #7f9597;
$button-text-color: #FFF;
$alt-button-text-color: #00b7c9;


$button-background-color: #00b7c9;
$alt-button-background-color: #e9eded;