$site-min-height: 600px;
$site-min-width: 360px;

$main-background-color: #FFF;

$base-font-family: "Open Sans", "Helvetica", sans-serif;

// Font colors
$heading-color: #002c30; // #025057;		// dark blue
$alt-heading-color: #00b7c9;				// light blue
$subheading-color: #BBB;					// lightest grey
$primary-description-color: #4d6c6f;		// blue-grey
$secondary-description-color: #7f9597;		// light grey
$primary-button-text-color: #FFF;
$secondary-button-text-color: #00b7c9;
$contact-choice-selected-color: #FFF;

$primary-button-background-color: #00b7c9;
$secondary-button-background-color: #e2e2e2;